//resets
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  width: 100%;
  min-height: 100%;
  line-height: 1.5;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
//layouts
body {
  color: white;
  background-color: lightcoral;
}
header {
  height: 40px;
  width: 80vw;
  margin: 0 auto;
  text-align: left;
  border-bottom: 2px solid black;
  font-size: 2.4rem;
  margin-bottom: 40px;
}
h1 {
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 3px;
}
table {
  width: 80vw;
  min-width: 300px;
  max-width: 800px;
  margin: 0 auto;
  font-family: "Monotype Corsiva", serif;
}
//typography
body {
  font: 1.6rem "Goudy Bookletter 1911", sans-serif;
}